<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" color="primary" mode="side" fixedTopGap="64" fixedInViewport opened>
        <mat-nav-list class="nav-list" *ngFor="let menu of itemsMenu">
            <a mat-list-item [routerLink]=menu.path>
                <i class="material-icons">arrow_right</i>
                {{menu.title}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>